<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <link rel="shortcut icon" href="../../../frontend_images/logo.jpg"/>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/mystyle.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/dark.css" type="text/css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../../../frontend_css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/bootoast.css" type="text/css">
    <link rel="stylesheet" href="../../../frontend_css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="../../../frontend_css/myresponsive.css" type="text/css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Kitabharu</title>
    </head>