<div class="mobile-menu-area d-lg-none d-md-none d-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="mobile-menu">
                    <nav>
                        <ul>
                            <li ><a href="index.html" style="background-color: #ff5c00;">home</a>
                                <ul>
                                    <li><a href="index.html">Home Shop 1</a></li>
                                    <li><a href="index-2.html">Home Shop 2</a></li>
                                    <li><a href="index-3.html">Home Shop 3</a></li>
                                    <li><a href="index-4.html">Home Shop 4</a></li>
                                    <li><a href="index-5.html">Home Shop 5</a></li>
                                    <li><a href="index-6.html">Home Shop 6</a></li>
                                    <li><a href="index-7.html">Home Shop 7</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Features</a>
                                <ul>
                                    <li><a href="#">pages</a>
                                        <ul>
                                           <li><a href="about.html">About Us</a></li>
                                           <li><a href="services.html">Services</a></li>
                                           <li><a href="frequently-questions.html">Frequently Questions</a></li>
                                           <li><a href="404.html">Error 404</a></li>
                                           <li><a href="portfolio.html">Portfolio</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">blog</a>
                                        <ul>
                                           <li><a href="blog-nosidebar.html">None Sidebar</a></li>
                                           <li><a href="blog-left-sidebar.html">Sidebar Left</a></li>
                                           <li><a href="blog-post-gallery.html">Gallery Format</a></li>
                                           <li><a href="blog-post-audio.html">Audio Format</a></li>
                                           <li><a href="blog-post-video.html">Video Format</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">shop</a>
                                        <ul>
                                           <li><a href="shop-full-width.html">Full Width</a></li>
                                           <li><a href="shop-right-sidebar.html">Sidebar Right</a></li>
                                           <li><a href="shop-list-view.html">List View</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="wishlist.html">My Wishlist</a></li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="single-product.html">Product Details</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-full-width.html">Shop Full Width</a></li>
                                    <li><a href="shop-list-view.html">Shop List View</a></li>
                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    <li><a href="blog-post-img.html">Blog Image Post</a></li>
                                    <li><a href="blog-post-video.html">Blog Video Post</a></li>
                                    <li><a href="blog-nosidebar.html">Blog no Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
 </div>